h1{
            color: green;
            font-size: 20px;
        }
        h2{
            color: red;
            font-size: 40px;
        }
        p{
            color: blue;
            font-size: 60px;
        }
        img{
            width: 200px;
        }